<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="cancelButton">
            <div class="form-group row">
                <button type="button" class="btn btn-default" th:onclick="'window.location.href=\'/users\''">
                    Cancel
                </button>
            </div>
        </div>

        <div th:fragment="submitButton">
            <div class="form-group row">
                <button type="submit" class="btn btn-default" formmethod="post" autofocus>
                    Submit
                </button>
            </div>
        </div>

        <div th:fragment="logout">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="logout"/>
            </form>
        </div>

        <div th:fragment="block">
            <input th:name="button" type="submit" th:value="block"/>
        </div>

        <div th:fragment="unblock">
            <input th:name="button" type="submit" th:value="unblock"/>
        </div>

        <div th:fragment="delete">
            <input th:name="button" type="submit" th:value="delete"/>
        </div>
    </body>
</html>