<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments/header :: header"></head>

    <body>
        <div class="container text-center">
            <h1 th:align="center">SIGN UP</h1>

            <form th:object="${proxy}" method="post" style="max-width: 600px; margin: 0 auto;">
                <div class="m-3">
                    <div class="form-group row">
                        <label class="col-4 col-form-label">E-mail: </label>
                        <div class="col-8">
                            <input type="email" class="form-control" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Password: </label>
                        <div class="col-8">
                            <input type="password" class="form-control"
                                   required minlength="1"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Confirm password: </label>
                        <div class="col-8">
                            <input type="password" class="form-control"
                                   required minlength="1"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <button type="button" class="btn btn-default">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>