<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments/header :: header"></head>

    <body>
        <div>
            <h1 th:align="center">USERS</h1>
        </div>
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thread-dark">
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Register date</th>
                    <th>Last seen</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}">--</td>
                        <td th:text="${user.email}">--</td>
                        <td th:text="${user.regDate}">--</td>
                        <td th:text="${user.lastSeen}">--</td>
                        <td th:text="${user.status}">offline</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

    <div th:replace="fragments/footer :: footer"></div>
</html>